* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 300vh;
  background-color: linear-gradient(100deg, rgb(132, 0, 255) 0%, rgb(75, 0, 161) 44%, rgb(43, 0, 87) 100%);
}

header {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header h1, header button {
  position: relative;
  z-index: 10;
}
header h1 {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 3em;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
header button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  position: absolute;
  bottom: 100px;
  left: calc(50% - 60px);
  width: 120px;
  height: 50px;
  border: 0;
  -webkit-box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 2px 1px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
  background: #fff;
  font-size: 1em;
  color: rgb(75, 0, 161);
  -webkit-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  overflow: hidden;
}
header button:hover {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
header button:focus {
  outline: 0;
}
header button:before, header button:after {
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  top: 17px;
  position: absolute;
}
header button:before {
  content: "\f067";
  opacity: 1;
  left: 53px;
}
header button:after {
  content: "\f0c9";
  opacity: 0;
  left: 0;
}
header button .triangle {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, rgb(132, 0, 255) 0%, rgb(75, 0, 161) 44%, rgb(43, 0, 87) 100%);
  -webkit-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}
header button .triangle.left {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
          clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
header button .triangle.right {
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
          clip-path: polygon(100% 0, 0 0, 100% 100%);
}
header button.open .triangle.left {
  -webkit-clip-path: polygon(0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 100%, 0 100%);
}
header button.open .triangle.right {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%);
}
header button.open button {
  left: 40px;
  bottom: 40px;
  width: 50%;
  border-radius: 50%;
}
header button.open button:before {
  opacity: 0;
  left: 100%;
}
header button.open button:after {
  opacity: 1;
  left: 18px;
}
header button.open button.menu {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0;
}
header button.open button.menu:after {
  left: 100%;
}

.content section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2pt;
  color: #fff;
}

nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
nav ul {
  list-style: none;
}
nav li {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 1pt;
  font-size: 2em;
  color: rgb(132, 0, 255);
  -webkit-animation: fadeDown 0.5s forwards;
          animation: fadeDown 0.5s forwards;
  opacity: 0;
  cursor: pointer;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
nav li:hover {
  text-shadow: 2px 1px 40px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
nav li:nth-child(1) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
nav li:nth-child(2) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
nav li:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#nav-close {
  position: fixed;
  top: 40px;
  right: 40px;
  font-size: 1.5em;
  cursor: pointer;
  -webkit-animation: fadeDown 0.5s forwards;
          animation: fadeDown 0.5s forwards;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  opacity: 0;
  color: rgb(132, 0, 255);
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}